.custom-carousel .custom-arrow {
  color: #F6A925;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.custom-carousel .left {
  left: -30px;
}

.custom-carousel .right {
  right: -30px;
}

.custom-carousel .carousel-items-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 100%;
  max-width: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
}

.btn-overlay {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.text-center .btn {
  background-color: #F6A925;
  border: none;
}
